.download-link {
    margin: 0 5px;
    font-weight:bold;
    font-style: italic;
}

.step-number {
    font-size: 1.3em;
    font-weight:bold;
    font-style: italic;
}

.acc-wrapper {
    margin: 20px 30px;
}

.thumb-style {
    max-width: 40%;
    margin:4%;
}